<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>RabeL Code | Ana Sayfa</title>
<br><br>
<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2Fwp2757874.gif?v=1601097937332) no-repeat fixed;
			background-size: 100%;
		}
	</style>

  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/icons/720554756556324914/a_582d6c26210f28daaed44326892ecb50.gif?size=128">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">RabeL Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="/davet" target="_blank"><font color="gold"</font>Discord Sunucumuza</a><font color="white"</font> Katılmanız Gerekmektedir
  </p>
      
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> Normal Kodlar</a>
  <a href="/abone" style="text-decoration:none" class="index-button5"><i class="fas fa-code"></i> Abonelere Özel</a>
<a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Altın Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Elmas Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> Hazır Sistemler</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://discord.com/oauth2/authorize?client_id=710115789537017926&scope=bot&permissions=2146958847" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-robot"></i> Friday Botumuz</a>
    <a href="https://youtube.com/GweepCreativeOfficial" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-youtube"></i> Youtube Sayfamız</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="5"><b>SUNUCULARIMIZ</b></font>
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
        
                  <div class="ASD">                                    
                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2Frabel-min.png?v=1601124849396" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                       
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/758415286050357259/758556132540416010/a_582d6c26210f28daaed44326892ecb50.gif" alt="RabeL"> 
                      </div>
                 
                    RABEL      
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 970 
                        
                      </div>
                      
                      <p> </p>
                        <p class="card-text">RabeL Her Gün Adım Adım Büyüyen Güzel Saygılı Bir Topluluk</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                       <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/754032603081998336.png?v=1" alt="Discord Partner"><h> Discord Ortağı</b></h> 
                    <br>
                    <img style="width: 20px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/660789028861509633.png?v=1" alt="Discord Partner"><h> 2. Seviye(19 Boost)</b></h> 
                    </div>
                    <div class="card-footer">                    
                       <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.gg/wdC62b5"> <i class="fab fa-discord"></i><b>  Sunucuya Git</b></a>
                    </div>
                  </div>
      </div> 
      
      
  
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/758213097482878977/758557176020074506/code-min.png" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/758415286050357259/758556255576522792/saa-min.png" alt="Rabel Code Logo">
                      </div>
                      
                  RabeL Code     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 50
                      </div>
                      <p> </p>
                        <p class="card-text">RabeL Code Güzel Ortamı Olan Public Kod Paylaşım Sunucusu</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                       <img style="width: 25px;" class=" certificate-role " src="https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2FDiscord-Logo-White.png?v=1600933208227" alt="Discord Partner"><h> Discord Sunucusu</b></h> 
                    <br>
                       <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/585764446178246657.png?v=1" alt="Discord Partner"><h>  Seviye Yok(0 Boost)</b></h> 
                    </div>
                    <div class="card-footer">                    
                        <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.gg/s59Ewfc"><i class="fab fa-discord"></i><b>  Sunucuya Git</b></a>
                    </div>
                  </div>
      </div> 
      
      
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/758213097482878977/758557378358280222/f-min.png" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/758213097482878977/758557357608665118/f-logo1-min.png" alt="Pirate#5067">
                      </div>
                      
                  Friday     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-check"></i> BOT
                      </div>
                      <p> </p>
                        <p class="card-text">Gelişmiş Türkçe Modersayon ve Eğlence Botu.</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                      <img style="width: 25px;" class=" certificate-role " src="https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2FDiscord-Logo-White.png?v=1600933208227" alt="Discord Partner"><h> Server Not Found</b></h> 
                    <br>
                    <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/392249976639455232.png?v=1" alt="Discord Partner"><h>  Certified Bot</b></h> 
                    </div>
                    <div class="card-footer">                    
    <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.com/oauth2/authorize?client_id=710115789537017926&scope=bot&permissions=2146958847"> <i class="fa fa-robot"></i><b>  Discord Botumuz</b></a>
                    </div>
                  </div>
      </div>      
    </div>
    </div12>  
  </div><br>
<font color="white" size="5"><b>Kurucular</b></font>
      <div class="container text-center">
<hr color="white">
<br><br>
<br><br>

<div class="row">
<div id="avatar2">
 <a href="https://rabelcode-gweep.glitch.me"> <img class="avatar" height="100" width="100" src="https://cdn.discordapp.com/attachments/758213097482878977/758559179899928576/original.gif">
		<br>
		<font color="white">Gweep Creative</font>
    
</div>
</div>

        <h class="text-light font-weight-light">
       RabeL Code. 2020 Tüm Hakları Saklıdır. Developer by Gweep Creative
  </h>
  <br>
</main>